*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.vets-banner-bg{
    background-image: url('https://i.ibb.co.com/ykbDTrS/resize-1729954562949642966istockphoto1134195494612x612.jpg');
background-repeat: no-repeat;
background-size: cover;
background-color: black;
}