@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rancho&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container-class {
    @apply max-w-[1240px] mx-auto px-[4%] lg:px-0;
  }
/* other colors: 
red:#C30000
light-red:#C30000
warning:#F4B740
success:#00BA88 */

.footer-img{
  background-image: url('https://kutto.netlify.app/img/bg/footer_bg.jpg');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}


/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #f04336;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #9D9B9B;
  border-radius: 10px;
}




/* SliderStyles.css */
.slider-item {
  margin: 0 10px; /* Add space between items */
}

.slick-list {
  margin: 0 -10px; /* Offset the padding to keep alignment */
}

